function formatCount(count) {
  if(typeof count !== 'number') return
  if(count >= 100000000) {
    return (count / 100000000).toFixed(1) + '亿'
  } else if(count >= 10000) {
    return (count / 10000).toFixed(1) + '万'
  } else {
    return count + ""
  }
}

function padLeft(value) {
  value = value + ""
  return ("00" + value).slice(value.length)
}

function formatTime(time) {
  time = Math.floor(time / 1000)
  var minute = Math.floor(time / 60)
  var second = time % 60

  return padLeft(minute) + ":" + padLeft(second)
}

function sliceArray(arr, length) {
  if(!arr) return
  return arr.slice(0, length)
}

module.exports = {
  formatCount: formatCount,
  formatTime: formatTime,
  sliceArray: sliceArray
}